@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --container-width: 1520px;
  --padding-container-inline: clamp(1rem, -0.3846rem + 2.8846vw, 2.5rem);

  --container-secondary-width: 1560px;
  --padding-container-secondary-inline: clamp(1rem, 0.7692rem + 0.4808vw, 1.25rem);
  --margin-container-secondary-inline: clamp(0.25rem, -0.6731rem + 1.9231vw, 1.25rem);

  --16-48: clamp(1rem, -0.8462rem + 3.8462vw, 3rem);
  --16-42: clamp(1rem, -0.5rem + 3.125vw, 2.625rem);
  --64-120: clamp(4rem, 0.7692rem + 6.7308vw, 7.5rem);
  --64-109: clamp(4rem, 1.4038rem + 5.4087vw, 6.8125rem);
  --24-65: clamp(1.5rem, -0.8654rem + 4.9279vw, 4.0625rem);
  --51-169: clamp(3.1875rem, -3.6202rem + 14.1827vw, 10.5625rem);
  /* --62-207: clamp(3.875rem, -4.4904rem + 17.4279vw, 12.9375rem); */
  --8-43: clamp(0.5rem, -1.5192rem + 4.2067vw, 2.6875rem);
  --50-100: clamp(3.125rem, 0.2404rem + 6.0096vw, 6.25rem);
  --256-400: clamp(16rem, 7.6923rem + 17.3077vw, 25rem);
  --53-79: clamp(3.3125rem, 1.8125rem + 3.125vw, 4.9375rem);
  --16-24: clamp(1rem, 0.5385rem + 0.9615vw, 1.5rem);
  --32-28: clamp(1.75rem, 2.2308rem + -0.4808vw, 2rem);
  --32-48: clamp(2rem, 1.0769rem + 1.9231vw, 3rem);
  --131-161: clamp(8.1875rem, 6.4567rem + 3.6058vw, 10.0625rem);
  --16-66: clamp(1rem, -4.0847rem + 10.5932vw, 4.125rem);
  --320-1178: clamp(20rem, -29.5rem + 103.125vw, 73.625rem);
  --48-176: clamp(3rem, -4.3846rem + 15.3846vw, 11rem);
  --64-92: clamp(4rem, 2.3846rem + 3.3654vw, 5.75rem);
  --240-395: clamp(15rem, 12.1875rem + 12.5vw, 24.6875rem); /* min-width 360 */
  --16-32: clamp(1rem, 0.0769rem + 1.9231vw, 2rem);
  --32-72: clamp(2rem, -0.3077rem + 4.8077vw, 4.5rem);
  --12-40: clamp(0.75rem, -0.8654rem + 3.3654vw, 2.5rem);
  --12-16: clamp(0.75rem, 0.5192rem + 0.4808vw, 1rem);
  --12-24: clamp(0.75rem, 0.0577rem + 1.4423vw, 1.5rem);
  --14-20: clamp(0.875rem, 0.5288rem + 0.7212vw, 1.25rem);
  --20-26: clamp(1.25rem, 0.9038rem + 0.7212vw, 1.625rem);
  --20-60: clamp(1.25rem, -1.0577rem + 4.8077vw, 3.75rem);
  --32-62: clamp(2rem, 0.2692rem + 3.6058vw, 3.875rem);
  --8-60: clamp(0.5rem, -2.5rem + 6.25vw, 3.75rem);
  --8-82: clamp(0.5rem, -3.7692rem + 8.8942vw, 5.125rem);
  --200-488: clamp(12.5rem, -4.1154rem + 34.6154vw, 30.5rem);
  --295-392: clamp(18.4375rem, 12.246rem + 12.8989vw, 24.5rem);
  --130-170: clamp(8.125rem, 5.8173rem + 4.8077vw, 10.625rem);
  --20-40: clamp(1.25rem, 0.0962rem + 2.4038vw, 2.5rem);
  --24-48: clamp(1.5rem, 0.1154rem + 2.8846vw, 3rem);

  --430-588: clamp(26.875rem, 17.7596rem + 18.9904vw, 36.75rem);
  --16-24: clamp(1rem, 0.5385rem + 0.9615vw, 1.5rem);
  /* --24-32: clamp(1.5rem, 1.0385rem + 0.9615vw, 2rem); */
  --40-533: clamp(2.5rem, -25.9423rem + 59.2548vw, 33.3125rem);
  --40-347: clamp(2.5rem, -15.2115rem + 36.899vw, 21.6875rem);
  --40-60: clamp(2.5rem, 1.3462rem + 2.4038vw, 3.75rem);
  --8-16: clamp(0.5rem, 0.0385rem + 0.9615vw, 1rem);
  --24-50: clamp(1.5rem, 0rem + 3.125vw, 3.125rem);
  --64-80: clamp(4rem, 3.0769rem + 1.9231vw, 5rem);
  --100-282: clamp(6.25rem, -4.25rem + 21.875vw, 17.625rem);
  --24-35: clamp(1.5rem, 0.8654rem + 1.3221vw, 2.1875rem);
  --120-200: clamp(7.5rem, 2.8846rem + 9.6154vw, 12.5rem);
}

body {
  overflow-x: hidden;
  font-family: var(--font-roboto-condensed), sans-serif; /* Робимо цей шрифт основним */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-source-serif-pro), serif; /* Цей шрифт для заголовків */
}

@layer utilities {
  .border-05 {
    border-width: 0.5px;
  }
  .text-balance {
    text-wrap: balance;
  }
  .flex-between {
    @apply flex items-center justify-between;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }
  .flex-center-col {
    @apply flex flex-col items-center justify-center;
  }
  .wrap-primary {
    max-width: calc(var(--container-width) + 80px);
    margin-inline: auto;
    padding-inline: var(--padding-container-inline);
  }
  .wrap-tertiary,
  .wrap-secondary {
    max-width: 100%;
    margin-inline: var(--margin-container-secondary-inline);
    @apply rounded-2xl md:rounded-[32px];
  }
  .wrap-tertiary {
    @apply bg-secondary-50;
  }
  .wrap-secondary {
    background-image: url("/bg/noise-color.png");
  }

  .wrap-tertiary > div,
  .wrap-secondary > div {
    max-width: var(--container-secondary-width);
    margin-inline: auto;
    padding-inline: var(--padding-container-secondary-inline);
  }
  .wrap-secondary > div {
    @apply text-white;
  }
  .wrap-tertiary > div {
    @apply text-primary;
  }

  .img-footer {
    @apply absolute left-1/2 top-1/2 aspect-[8/10] max-w-[var(--51-169)] -translate-x-1/2 -translate-y-full sm:-translate-y-1/2;
  }

  /* btn */
  .btn {
    position: relative;
    @apply inline-flex h-[var(--53-79)] w-full max-w-[var(--256-400)] items-center justify-center rounded-[50%] bg-accent font-bold uppercase leading-none text-primary hover:bg-accent-hover;
  }
  .ripple-effect {
    position: absolute;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.4);
    transform: scale(0);
    animation: ripple-animation 0.6s ease-out forwards;
    pointer-events: none;
  }

  @keyframes ripple-animation {
    to {
      transform: scale(4);
      opacity: 0;
    }
  }
  /* ==== */

  /* mob-menu */
  .menu-mob-link {
    @apply flex cursor-pointer items-center py-[10px];
  }
  /* ==== */

  /* header */
  .header-item {
    @apply relative mr-[28px];
  }
  .header-item::before {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 2px;
    border-radius: 50%;
    /* background-color: #b62121; */
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
    @apply bg-secondary;
  }
  .header-item:hover::before {
    transform: scaleX(1);
  }
  .header-link {
    @apply flex cursor-pointer items-center;
  }
  .header-link-text {
    @apply text-nowrap text-sm font-medium uppercase text-primary transition group-hover:text-secondary;
  }
  .header-link-icon {
    @apply size-5 fill-secondary transition group-hover:fill-primary;
  }
  /* ====== */
  /* hero */
  .title-hero {
    @apply mb-[var(--16-66)] mt-16 max-w-96 text-center text-hero leading-hero text-secondary md:max-w-full lg:flex lg:flex-col lg:text-left lg:indent-[var(--48-176)];
  }
  .title-hero span:first-child {
    @apply lg:-translate-x-16;
  }
  .title-hero span:last-child {
    @apply lg:-translate-x-56;
  }
  @media (min-width: 768px) {
  }
  .title-sertification {
    @apply mb-[var(--24-50)] scroll-mt-16 text-justify text-title leading-none text-secondary md:w-[67%] md:scroll-mt-20 md:indent-[58px] lg:indent-[158px] xl:indent-[258px];
  }
  .title-sertification span {
    display: block;
  }
  .title-sertification span:first-of-type {
    text-align: right;
  }

  /* ===== */
  /* about */
  .about-info {
    font-size: var(--14-20);
    line-height: 1.5;
    font-weight: 400;
    @apply pb-8 text-center min-[320px]:px-5 md:px-0 md:pb-0 md:text-left;
  }
  .about-info i {
    color: #d9ff00;
    font-style: normal;
  }
  .about-items {
    @apply grid grid-cols-1 gap-[var(--8-60)] md:grid-cols-3;
  }
  .about-item {
    @apply relative z-10 flex items-center gap-4 rounded-2xl border border-white px-[var(--20-26)] py-[var(--16-32)] text-btn;
  }
  .about-item::after {
    content: "";
    @apply absolute inset-0 -z-10 h-full w-full rounded-2xl bg-white/10 backdrop-blur-2xl;
  }
  .about-item-icon {
    @apply size-[var(--32-62)] flex-shrink-0;
  }
  .about-photo {
    @apply absolute bottom-0 left-1/2 mx-auto w-[var(--295-392)] -translate-x-1/2 sm:-translate-x-1/3 lg:-translate-x-1/2;
  }
  .about-photo img {
    @apply mx-auto h-full w-full object-cover;
  }
  /* ========= */
  /* accardeon */
  .accordion {
    @apply relative py-[var(--16-24)] pl-[var(--40-533)];
  }

  .accordion-count {
    @apply absolute left-0 top-2 z-10 text-txt-24-32 text-secondary md:top-0;
  }

  .accordion-summary .accordion-title {
    @apply text-txt-16-20 font-normal;
  }

  .accordion-details[open] .accordion-summary:after {
    transform: rotate(90deg);
  }

  .accordion-summary::before,
  .accordion-summary:after {
    content: "";
    width: 21px;
    height: 2px;
    background-image: url("/icons/line.svg");
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    transition: transform 0.3s ease;
  }

  @media screen and (max-width: 768px) {
    .accordion-summary::before,
    .accordion-summary:after {
      width: 11px;
      height: 1.5px;
    }
  }
  .accordion-details[open] .accordion-title {
    @apply text-secondary;
  }

  .accordion-summary {
    @apply relative cursor-pointer list-none;
  }

  .accordion-service summary::-webkit-details-marker,
  .accordion-summary::-webkit-details-marker {
    display: none;
  }

  .accordion-content {
    grid-template-rows: 0fr;

    @apply grid max-w-[640px] transition-all duration-300 ease-in-out;
  }

  .accordion-content-body {
    overflow: hidden;
    @apply text-txt-12-16 text-primary-100;
  }

  .accordion-details[open] + .accordion-content {
    grid-template-rows: 1fr;
    @apply pt-[var(--8-16)];
  }
  /* services accordion */
  .accordion-service {
    @apply relative;
  }
  .accordion-service summary {
    @apply relative cursor-pointer list-none;
  }
  .accordion-service summary span {
    @apply text-xl font-bold transition-all duration-300 ease-in-out md:pl-[var(--40-533)] md:text-3xl;
  }
  .accordion-service-content {
    grid-template-rows: 0fr;

    @apply grid transition-all duration-300 ease-in-out;
  }
  .accordion-service details {
    @apply transition-colors duration-700 ease-in-out;
  }
  .accordion-service details[open] + .accordion-service-content {
    grid-template-rows: 1fr;
  }
  .accordion-service details[open] {
    @apply border-b border-secondary-75 bg-secondary-50;
  }
  .accordion-service details[open] .accordion-service-arrow {
    @apply rotate-180;
  }
  .accordion-service-content-body {
    overflow: hidden;
    @apply grid lg:grid-cols-[1fr_2fr] xl:grid-cols-[var(--40-533)_1fr];
  }
  .accordion-service-arrow {
    @apply absolute right-4 top-1/2 size-8 -translate-y-1/2 text-secondary transition-all duration-300 ease-in-out;
  }
  /* ========= */
  /* partners */
  /* ========= */
  .partners-list {
    @apply grid grid-cols-2 border-l border-t border-secondary md:grid-cols-[repeat(auto-fit,minmax(300px,1fr))];
  }

  .partners-list_item {
    position: relative;
    @apply flex-center min-h-[120px] overflow-hidden bg-white p-4 sm:aspect-video sm:min-h-[160px];
  }
  .partners-list_item::before,
  .partners-list_item::after {
    content: "";
    /* background-color: #b62121; */
    position: absolute;
    @apply bg-secondary;
  }
  .partners-list_item::before {
    height: 100%;
    width: 1px;
    top: 0;
    right: 0;
  }
  .partners-list_item:after {
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
  }
  .partners-list_link {
    @apply h-full w-full max-w-[285px];
  }
  .partners-list_img {
    @apply h-full w-full object-contain;
  }
  .partners-list_deco {
    transform: rotate(29deg) scaleX(2);
    @apply h-px w-full bg-secondary;
  }
  /* ========== */
  /* before after */
  .tab-list {
    margin-inline: -16px;
    scroll-snap-type: x mandatory;
    @apply flex-center -mx-4 overflow-x-auto whitespace-nowrap text-nowrap pb-[var(--12-24)] pt-6 md:mx-0 md:pt-9;
    scrollbar-width: none;
  }
  .tab-list::-webkit-scrollbar {
    display: none; /* Приховує скролбар у Chrome, Safari */
  }
  .tab-trigger {
    scroll-snap-align: start;
    @apply flex-center gap-2 px-2 text-txt-12-16 font-medium uppercase;
  }
  .before-list {
    @apply grid grid-cols-2 gap-4 border-t border-secondary-75 pt-4 min-[568px]:grid-cols-3 md:pt-12 lg:grid-cols-12 xl:gap-8;
  }

  .before-list-item {
    @apply relative cursor-pointer justify-items-center md:justify-items-stretch;
  }
  .before-list-item:nth-child(even) {
    @apply lg:col-span-2 lg:place-self-start;
  }
  .before-list-item:nth-child(odd) {
    @apply lg:col-span-4 lg:place-self-start;
  }

  .before-list-item:nth-child(4),
  .before-list-item:nth-child(8),
  .before-list-item:nth-child(12) {
    @apply lg:place-self-end;
  }
  .before-list-item:nth-child(7),
  .before-list-item:nth-child(3) {
    @apply lg:place-self-center;
  }
  .before-list-item:nth-child(7) {
    @apply lg:place-self-center;
  }
  @media (max-width: 1024px) {
    .before-list-item:nth-child(3n) {
      @apply place-self-end;
    }
    .before-list-item:nth-child(5),
    .before-list-item:nth-child(11),
    .before-list-item:nth-child(8),
    .before-list-item:nth-child(2) {
      @apply place-self-center;
    }
  }
  @media (max-width: 568px) {
    .before-list-item {
      @apply col-span-1 place-self-start;
    }
    .before-list-item:nth-child(1n) {
      @apply place-self-end;
    }
    .before-list-item:nth-child(2n) {
      @apply place-self-center;
    }
  }
  .scale-item {
    background-color: white;
    @apply absolute border border-secondary-75 p-4;
  }
  .before-list-item:nth-child(9) .before-group-hover-content,
  .before-list-item:nth-child(1) .before-group-hover-content {
    @apply left-0 right-auto;
  }
  .before-group-image-container {
    @apply relative h-[140px] w-[140px] transition-all duration-300 ease-in-out;
  }

  .before-group-hover-content {
    @apply absolute right-0 top-0 z-10 h-auto scale-0 transform border border-secondary-75 bg-white p-4 opacity-0 shadow-lg transition-all duration-300 ease-in-out group-hover:scale-150 group-hover:opacity-100 lg:w-[16vw];
  }

  .before-text-caption {
    @apply mt-2 text-xs font-medium uppercase transition-all duration-300 ease-in-out group-hover:opacity-0;
  }

  .before-drawer-trigger {
    @apply relative h-[140px] w-[140px] brightness-90;
  }

  .before-figure-caption {
    @apply pt-2 text-center text-sm font-medium uppercase xl:text-xl;
  }
  /* ========== */
  /* slider testimonial */
  dialog::backdrop {
    background: rgba(255, 0, 0, 0.25);
  }
  .testim-wrapper.swiper-wrapper {
    overflow-x: visible;
  }
  .swiper:not(.swiper-initialized) .sertificate-slide {
    @apply mr-3 w-[152px] md:mr-9 md:w-[227px];
  }
  .sertificate-slider {
    @apply static w-full sm:mx-0 md:w-[64%] md:translate-x-[100px] md:!p-5;
  }

  @media (max-width: 768px) {
    .sertificate-slider {
      width: calc(100% + 32px);
      margin-inline: -34px;
      padding-inline: 34px;
      transform: translateX(-15px);
    }
    .sertificate-wrapper {
      padding-block: 14px;
    }
  }

  .testim-slide {
    @apply relative !flex !h-auto flex-col rounded-[20px] border border-white p-[var(--16-32)];
  }
  .sertificate-slide {
    @apply w-auto flex-shrink-0;
  }
  .testim-slide > figure > img {
    @apply h-auto w-[--120-200] rounded-full border-[2px] border-accent;
  }
  .testim-progress {
    @apply h-1 rounded-sm bg-accent/60;
  }
  .testim-progress-horizontal.swiper-scrollbar {
    @apply !relative z-10 mt-4 translate-y-1 bg-white/20 md:hidden;
  }
  .sertificate-progress-horizontal.swiper-scrollbar {
    @apply !relative z-10 mt-4 translate-y-1 bg-secondary-50 md:hidden;
  }
  .testim-prev,
  .testim-next {
    @apply md:flex-center absolute top-1/2 z-10 hidden size-[var(--50-100)] -translate-y-1/2 rounded-full bg-accent text-center text-white transition-colors hover:bg-accent-hover;
  }
  .testim-prev {
    @apply left-0;
  }
  .testim-next {
    @apply right-0;
  }
  .testim-next.swiper-button-disabled,
  .testim-prev.swiper-button-disabled {
    @apply hidden;
  }
  .testim-prev svg,
  .testim-next svg {
    @apply w-[var(--20-40)] fill-primary;
  }
  .testim-prev svg {
    @apply rotate-180;
  }
  /* ========= */
  /* Services */
  .service-item {
    @apply relative cursor-none;
  }
  .service-icon {
    @apply relative z-10 w-1/3 scale-0 transition-transform duration-700 ease-in-out;
  }
  .service-icon figure {
    @apply absolute -top-[150%] left-12 h-auto max-w-[372px] -rotate-6 border border-secondary bg-white-100 p-2 lg:p-4 xl:p-6;
  }
  .service-item-link-mob {
    @apply absolute right-4 top-0 flex size-[28px] translate-y-full items-center justify-center rounded-full bg-accent md:hidden;
  }
  @media (min-width: 768px) {
    .service-item:hover::before {
      @apply scale-y-100;
    }
    .service-item:before {
      background-image: url("/bg/noise-color.png");
      content: "";
      transform-origin: top;
      @apply absolute left-0 top-0 h-full w-full scale-y-0 transition-all duration-700 ease-in-out;
    }
  }
  .service-icon {
    @apply hidden md:block;
  }
  .service-content {
    @apply z-10 w-full justify-between py-4 text-txt-16-42 md:flex md:w-2/3 md:items-center md:justify-between md:py-5 md:pl-12 lg:pl-3;
  }
  .service-content h3 {
    @apply font-robotoCondensed text-txt-16-48 font-semibold uppercase transition-colors duration-700 ease-in-out;
  }
  .service-content p {
    @apply text-secondary transition-colors duration-700 ease-in-out;
  }
  /* stage */
  .stage-count {
    background-image: url("/bg/noise-color.png");
    @apply top-0 w-fit font-sourceSerifPro text-txt-40-60 leading-none lg:bg-secondary lg:px-2;
  }
  .stage-decor {
    @apply absolute top-6 hidden h-[2px] w-full bg-white lg:block;
  }
  .stage-list {
    @apply mt-[var(--24-35)] lg:flex lg:justify-around lg:gap-2;
  }
  .stage-list h3 {
    @apply font-robotoCondensed text-txt-18-24 font-semibold text-accent lg:min-h-[72px];
  }
  .stage-item {
    @apply relative mb-4 flex items-start gap-4 lg:w-1/5;
  }
  .stage-count {
    @apply grid grid-cols-[40px_1fr] gap-2 lg:grid-cols-1;
  }
  .stage-count_wrapper {
    @apply grid grid-cols-[40px_1fr] gap-2 lg:grid-cols-1 lg:grid-rows-2;
  }

  /* ========= */

  .line {
    max-width: calc(100% - 32px);
    /* height: 1px;
    background-color: #ffceca;
    opacity: 40%;
    margin-inline: auto; */
    @apply mx-auto h-px bg-secondary-75 opacity-40;
  }

  /* Початковий стан елементів */
  [data-fade] {
    opacity: 0;
    transform: translateY(20px);
    transition:
      opacity 0.5s ease,
      transform 0.5s ease;
  }
  [data-delay-one] {
    transition-delay: 0.3s;
  }
  [data-delay-two] {
    transition-delay: 0.6s;
  }
  [data-delay-three] {
    transition-delay: 0.9s;
  }
  [data-delay-four] {
    transition-delay: 1.2s;
  }
  [data-delay-five] {
    transition-delay: 1.5s;
  }
  [data-delay-six] {
    transition-delay: 1.8s;
  }
  [data-delay-seven] {
    transition-delay: 2.1s;
  }
  [data-delay-eight] {
    transition-delay: 2.4s;
  }
  [data-delay-nine] {
    transition-delay: 2.7s;
  }
  [data-delay-ten] {
    transition-delay: 3s;
  }

  /* Коли елемент стає видимим */
  [data-fade][data-visible="true"] {
    opacity: 1;
    transform: translateY(0);
  }

  /* Коли елемент знову невидимий */
  [data-fade][data-visible="false"] {
    opacity: 0;
    transform: translateY(20px);
    transition-delay: 0s;
  }

  /* inputs  */
  .field-label {
    @apply mb-1 block text-left text-sm font-semibold text-white md:mb-2 md:text-base;
  }
  .field-input {
    @apply w-full rounded-lg border-b-2 px-3 py-[10px] text-sm text-primary focus:border-focus focus:outline-none active:border-focus md:p-[14px] md:text-base;
  }

  /* table-price service */
  .table-price {
    @apply my-5;
  }
  .table-price table {
    @apply w-full;
  }
  .table-price thead tr th {
    @apply px-5 py-[10px] text-base font-bold md:text-2xl;
  }
  .table-price tbody tr td {
    @apply px-5 py-[10px] text-base font-normal md:text-2xl;
  }

  .table-price tbody tr td:last-child span {
    @apply ml-2 -translate-y-2 font-robotoCondensed text-base font-normal text-primary-50 line-through;
  }
  .table-price tbody tr td:last-child {
    @apply font-sourceSerifPro font-bold text-secondary;
  }
  .table-price tbody tr td {
    @apply w-2/3;
  }
  .table-price thead tr,
  .table-price tr:nth-child(even) {
    @apply bg-secondary-50;
  }
  /* ------------------- */
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}
.patter-img {
  --square-size: 3px;
  --half-square-size: calc(var(--square-size) / 2);
  --color: #b62121;

  background-image: linear-gradient(45deg, var(--color) 25%, transparent 25%),
    linear-gradient(135deg, var(--color) 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, var(--color) 75%),
    linear-gradient(135deg, transparent 75%, var(--color) 75%);
  background-size: var(--square-size) var(--square-size);
  background-position:
    0 0,
    var(--half-square-size) 0,
    var(--half-square-size) var(--half-square-size),
    0px var(--half-square-size);
}

/* -----INSTAGRAM---- */
.insta-btn {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  position: relative;
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.3s;
}
.insta-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  backdrop-filter: blur(4px);
  letter-spacing: 0.8px;
  border-radius: 10px;
  transition: all 0.3s;
  border: 1px solid rgba(156, 156, 156, 0.466);
}
.insta-bg {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #f09433;
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  z-index: -1;
  border-radius: 9px;
  pointer-events: none;
  transition: all 0.3s;
}
.insta-btn:hover .insta-bg {
  transform: rotate(35deg);
  transform-origin: bottom;
}
.insta-btn:hover .insta-container {
  background-color: rgba(156, 156, 156, 0.466);
}
/* ------------ */
